@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

/* Reset styles on body */

body {
  padding: 0;
  margin: 0;
  background-color: burlywood;
}

h1 {
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* module */

.module {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.inputnames {
  margin-bottom: 50px;
}

.gametext {
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: xx-large;
}

#player1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  width: 150px;
}

#player2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  width: 150px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

#reset {
  height: 50px;
  margin-top: 30px;
  width: 40%;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 15px;
  border-color: #031c25;
  border-width: 2px;
  color: rgb(34, 32, 32);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
  background-color: rgb(162, 212, 24);
}

#reset:hover {
  background-color: rgba(162, 212, 24, 0.75);
}

#start {
  height: 50px;
  margin-top: 30px;
  width: 40%;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 15px;
  border-color: #031c25;
  border-width: 2px;
  color: rgb(34, 32, 32);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
  background-color: rgb(212, 99, 24);
}

#start:hover {
  background-color: rgba(212, 99, 24, 0.75);
}

/* Work on container, row and cell */

#container {
  display: flex;
  flex-direction: column;
}

.row {
  height: 175px;
  width: 525px;
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  height: 175px;
  width: 33%;
  justify-content: center;
  align-items: center;
  font-family: "Gloria Hallelujah", cursive;
  font-size: xx-large;
}

.row-line {
  border-bottom: 3px solid black;
}

.cell-line {
  border-right: 3px solid black;
}

/* */

.winner {
  background-color: rgb(20, 129, 111);
}
